<footer class="footer">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">Useful links</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('homepage') }}">Homepage</a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}">Sign up</a>
                        </li>
                        <li>
                            <a href="{{ path('app_login') }}">Login in</a>
                        </li>
                        <li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">My Account</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="#">View cart</a>
                        </li>
                        <li>
                            <a href="{{ path('app_profile') }}">My profile</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <p class="widget-copyright">Copyright Damnexile. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>